  .main_header{
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 1;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .dancing_cat_small{
    opacity: 0.80;
    height: 80px;
    width: 70px;
    margin:auto;
  }

  .dancing_cat{
    opacity: 0.80;
    height: 250px;
    width: 220px;
    margin:auto;
    order: 2;
  }

  .under_video{
    display: flex;
    justify-content: center;
  }

  .video{
    margin: auto;
  }

  .bottom_central_cat{
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .central_div{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .bottom_div{
    display: flex;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    margin-top: 10px;
  }

  .main_text{
    background-color: pink;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: large;
    text-shadow: 1px 1px 2px black;
    margin: 20px;
  }

  body{
    background-image: url(media/flowers_background.jpg);
  }